management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  health:
    readinessState:
      enabled: true
    livenessState:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
spring:
  profiles:
    active: ${ATLAS_APP_ENVIRONMENT:local}
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 1h
          cache-public: true
  mvc:
    async:
      request-timeout: 5m
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${security.issuer}
      client:
        provider:
          oidc:
            issuer-uri: ${security.issuer}
        registration:
          oidc:
            client-id: ${OPENID_CLIENT_ID:my-client}
            client-secret: ${OPENID_CLIENT_SECRET:my-secret}
            client-authentication-method: client_secret_post
            scope:
              - openid
              - svvprofile
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    disable-swagger-default-url: 'true'
    path: /swagger-ui
    oauth2-redirect-url: /swagger-ui/oauth2-redirect.html
    oauth:
      client-id: ${OPENID_CLIENT_ID:my-client}
      use-pkce-with-authorization-code-grant: true
      scopes: openid,svvprofile
      additional-query-string-params:
        acr_values: Level2plus
    groups-order: desc
minio:
  endpoint: ${S3_ENDPOINT:}
  accessKey: ${S3_ACCESS_KEY:}
  secretKey: ${S3_SECRET_KEY:}
  bucket: ${S3_BUCKET:}
app:
  baseUrl: ${BASE_URL:https://nvdb-tnits.atlas.vegvesen.no}
  vegkartBaseUrl: ${VEGKART_BASE_URL:https://vegkart.atlas.vegvesen.no}
  nvdbBaseUrl: ${NVDB_BASE_URL:https://nvdbapiles.atlas.vegvesen.no}
security:
  enabled: ${SECURITY_ENABLED:true}
  admin-role: ${ADMIN_ROLE:nvdbapi=admin}
  role-claim-path: ${ROLE_CLAIM_PATH:svvroles}
  issuer: ${OPENID_ISSUER_URI:http://localhost:8099/Employees}
  authorization-endpoint: ${OPENID_AUTHORIZATION_ENDPOINT:${security.issuer}/authorize}
  token-endpoint: ${OPENID_TOKEN_ENDPOINT:${security.issuer}/token}
